<!DOCTYPE html>
<html>
<head>
    <title>PUBLICACIONES</title>
</head>
<body>
    <h1>LISTA DE PUBLICACIONES</h1>
    <form method="GET">
        Fecha minima: <input type="date" name="fecha_min">
        Fecha maxima: <input type="date" name="fecha_max">
        <button type="submit">FILTRAR</button>
    </form>
    
    <form method="GET">
        Buscar por titulo o contenido: <input type="text" name="q">
        <button type="submit">BUSCAR</button>
    </form>

    <ul>
        {% for publicacion in publicaciones %}
          <li><a href="{% url 'detalle_publicacion' publicacion.pk %}">{{publicacion.titulo}}</a></li>
        {% endfor %}
    </ul>
    <div>
        {% if publicaciones.has_previous %}
          <a href="?page={{ publicaciones.previous_page_number }}">Anterior</a>
        {% endif %}  
    

    <span>Página {{ publicaciones.number }} de {{ publicaciones.paginator.num_pages }}</span>

         {% if publicaciones.has_next %}
           <a href="?page={{ publicaciones.next_page_number }}">Siguiente</a>
        {% endif %}

    </div>

    <a href="{% url 'agregar_publicacion' %}">Agregar Nueva Publicacion</a>
    <a href="{% url 'lista_publicaciones' %}">Ver Publicaciones</a>
    <a href="{% url 'inicio' %}"><button>Ir a inicio </button></a>
</body>
</html>